/* === GENERAL === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* === LOGIN PAGE === */
.login-page {
    background-color: #1a2a4a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* === BOTONES === */
.btn-primary {
    background-color: #1a2a4a !important;
    border-color: #E87722 !important;
}

.btn-primary:hover {
    background-color: #E87722 !important;
}

/* === FOOTER === */
footer {
    width: 100%;
    margin-top: auto;
    padding: 20px 60px 12px 60px;
}

footer h6 {
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 1.5;
}

footer p {
    font-size: 0.8rem;
    line-height: 1.5;
}

footer hr {
    margin: 6px 0 8px 0;
}
body.login-page {
    justify-content: space-between !important;
}